useDynLib(rhdf5)

import(Rhdf5lib)
import(methods)
importFrom(utils, packageVersion)
importFrom(utils, file_test)

exportClasses(H5IdComponent)
## exportClasses(H5file)
## exportClasses(H5group)
## exportClasses(H5space)
## exportClasses(H5dataset)

export(H5open)
export(H5close)
export(H5garbage_collect)
export(H5get_libversion)

export(H5Acreate)
export(H5Aopen)
export(H5Aopen_by_name)
export(H5Aopen_by_idx)
export(H5Aexists)
export(H5Aclose)
export(H5Adelete)
export(H5Aget_name)
export(H5Aget_space)
export(H5Aget_type)
export(H5Aread)
export(H5Awrite)

export(H5Dclose)
export(H5Dcreate)
export(H5Dget_type)
export(H5Dget_create_plist)
export(H5Dget_space)
export(H5Dopen)
export(H5Dread)
export(H5Dwrite)
export(H5Dget_storage_size)
export(H5Dset_extent)

export(H5Fclose)
export(H5Fcreate)
export(H5Fflush)
export(H5Fopen)
## export(H5Freopen)
export(H5Fis_hdf5)
export(H5Fget_filesize)
export(H5Fget_name)
export(H5Fget_create_plist)
export(H5Fget_access_plist)

export(H5Gclose)
export(H5Gcreate)
export(H5Gcreate_anon)
export(H5Gget_info)
export(H5Gget_info_by_idx)
export(H5Gget_info_by_name)
export(H5Gopen)

export(H5Iget_name)
export(H5Iget_type)
export(H5Iis_valid)

export(H5Lcreate_external)
export(H5Lexists)
export(H5Lget_info)
export(H5Ldelete)
export(H5Lmove)
export(H5Lcopy)

export(H5Oopen)
export(H5Oclose)
export(H5Oget_num_attrs)
export(H5Oget_num_attrs_by_name)
# export(H5Oget_info)
# export(H5Oget_info_by_name)

export(H5Sclose)
export(H5Scopy)
export(H5Screate)
export(H5Screate_simple)
export(H5Sget_simple_extent_dims)
export(H5Sset_extent_simple)
export(H5Sis_simple)
export(H5Sselect_index)
export(H5Sselect_hyperslab)
export(H5Sunlimited)

export(H5Tcopy)
export(H5Tset_size)
export(H5Tget_size)
export(H5Tset_strpad)
export(H5Tget_strpad)

export(H5Pcreate)
export(H5Pget_class)
export(H5Pcopy)
export(H5Pclose)
export(H5Pclose_class)
## export(H5Pget_version)
## export(H5Pset_userblock)
## export(H5Pget_userblock)
## export(H5Pset_sizes)
## export(H5Pget_sizes)
## export(H5Pset_sym_k)
## export(H5Pget_sym_k)
## export(H5Pset_istore_k)
## export(H5Pget_istore_k)
## export(H5Pset_shared_mesg_nindexes)
## export(H5Pget_shared_mesg_nindexes)
## export(H5Pset_shared_mesg_index)
## export(H5Pget_shared_mesg_index)
## export(H5Pset_shared_mesg_phase_change)
## export(H5Pget_shared_mesg_phase_change)
## export(H5Pset_driver)
## export(H5Pget_driver)
## export(H5Pget_driver_info)
## export(H5Pset_fclose_degree)
## export(H5Pget_fclose_degree)
## export(H5Pset_fapl_core)
## export(H5Pget_fapl_core)
## export(H5Pset_core_write_tracking)
## export(H5Pget_core_write_tracking)
## export(H5Pset_fapl_direct)
## export(H5Pget_fapl_direct)
## export(H5Pset_fapl_family)
## export(H5Pget_fapl_family)
## export(H5Pset_family_offset)
## export(H5Pget_family_offset)
## export(H5Pset_fapl_log)
## export(H5Pset_fapl_mpio)
## export(H5Pget_fapl_mpio)
## export(H5Pset_fapl_mpiposix)
## export(H5Pget_fapl_mpiposix)
## export(H5Pset_fapl_multi)
## export(H5Pget_fapl_multi)
## export(H5Pset_multi_type)
## export(H5Pget_multi_type)
## export(H5Pset_fapl_split)
## export(H5Pset_fapl_sec2)
## export(H5Pset_fapl_stdio)
## export(H5Pset_fapl_windows)
## export(H5Pset_file_image)
## export(H5Pget_file_image)
## export(H5Pset_file_image_callbacks)
## export(H5Pget_file_image_callbacks)
## export(H5Pset_meta_block_size)
## export(H5Pget_meta_block_size)
## export(H5Pset_sieve_buf_size)
## export(H5Pget_sieve_buf_size)
## export(H5Pset_alignment)
## export(H5Pget_alignment)
## export(H5Pset_cache)
## export(H5Pget_cache)
## export(H5Pset_elink_file_cache_size)
## export(H5Pget_elink_file_cache_size)
## export(H5Pset_mdc_config)
## export(H5Pget_mdc_config)
## export(H5Pset_gc_reference)
## export(H5Pget_gc_references)
## export(H5Pset_small_data_block_size)
## export(H5Pget_small_data_block_size)
export(H5Pset_libver_bounds)
export(H5Pget_libver_bounds)
## export(H5Pset_local_heap_size_hint)
## export(H5Pget_local_heap_size_hint)
## export(H5Pset_link_creation_order)
## export(H5Pget_link_creation_order)
## export(H5Pset_est_link_info)
## export(H5Pget_est_link_info)
## export(H5Pset_link_phase_change)
## export(H5Pget_link_phase_change)
export(H5Pset_char_encoding)
export(H5Pget_char_encoding)
export(H5Pset_create_intermediate_group)
export(H5Pget_create_intermediate_group)
## export(H5Pset_nlinks)
## export(H5Pget_nlinks)
## export(H5Pset_elink_cb)
## export(H5Pget_elink_cb)
## export(H5Pset_elink_prefix)
## export(H5Pget_elink_prefix)
## export(H5Pset_elink_fapl)
## export(H5Pget_elink_fapl)
## export(H5Pset_elink_acc_flags)
## export(H5Pget_elink_acc_flags)
export(H5Pset_layout)
export(H5Pget_layout)
export(H5Pset_chunk)
export(H5Pget_chunk)
export(H5Pset_deflate)
export(H5Pset_fill_value)
## export(H5Pget_fill_value)
export(H5Pfill_value_defined)
export(H5Pset_fill_time)
export(H5Pget_fill_time)
export(H5Pset_alloc_time)
export(H5Pget_alloc_time)
## export(H5Pset_filter)
export(H5Pall_filters_avail)
export(H5Pget_nfilters)
## export(H5Pget_filter1)
## export(H5Pget_filter2)
## export(H5Pget_filter_by_id1)
## export(H5Pget_filter_by_id2)
## export(H5Pmodify_filter)
## export(H5Premove_filter)
## export(H5Pset_fletcher32)
## export(H5Pset_nbit)
## export(H5Pset_scaleoffset)
## export(H5Pset_shuffle)
## export(H5Pset_szip)
## export(H5Pset_external)
## export(H5Pget_external_count)
## export(H5Pget_external)
export(H5Pset_chunk_cache)
## export(H5Pget_chunk_cache)
## export(H5Pset_buffer)
## export(H5Pget_buffer)
## export(H5Pset_preserve)
## export(H5Pget_preserve)
## export(H5Pset_edc_check)
## export(H5Pget_edc_check)
## export(H5Pset_filter_callback)
## export(H5Pset_data_transform)
## export(H5Pget_data_transform)
## export(H5Pset_type_conv_cb)
## export(H5Pget_type_conv_cb)
## export(H5Pset_hyper_vector_size)
## export(H5Pget_hyper_vector_size)
## export(H5Pset_btree_ratios)
## export(H5Pget_btree_ratios)
## export(H5Pset_vlen_mem_manager)
## export(H5Pget_vlen_mem_manager)
## export(H5Pset_dxpl_mpio)
## export(H5Pset_dxpl_mpio_chunk_opt)
## export(H5Pset_dxpl_mpio_chunk_opt_num)
## export(H5Pset_dxpl_mpio_chunk_opt_ratio)
## export(H5Pset_dxpl_mpio_collective_opt)
## export(H5Pget_dxpl_mpio)
## export(H5Pget_mpio_actual_chunk_opt_mode)
## export(H5Pget_mpio_actual_io_mode)
## export(H5Pget_mpio_no_collective_cause)
## export(H5Pset_create_intermediate_group)
## export(H5Pget_create_intermediate_group)
## export(H5Pset_obj_track_times)
## export(H5Pget_obj_track_times)
## export(H5Pset_attr_phase_change)
## export(H5Pget_attr_phase_change)
## export(H5Pset_attr_creation_order)
## export(H5Pget_attr_creation_order)
## export(H5Pset_copy_object)
## export(H5Pget_copy_object)
## export(H5Padd_merge_committed_dtype_path)
## export(H5Pfree_merge_committed_dtype_paths)
## export(H5Pset_mcdt_search_cb)
## export(H5Pget_mcdt_search_cb)
## export(H5Pset_char_encoding)
## export(H5Pget_char_encoding)
## export(H5Pcreate_class)
## export(H5Pregister1)
## export(H5Pregister2)
## export(H5Pinsert1)
## export(H5Pinsert2)
## export(H5Pset)
## export(H5Pexist)
## export(H5Pget_size)
## export(H5Pget_nprops)
## export(H5Pget_class_name)
## export(H5Pget_class_parent)
## export(H5Pisa_class)
## export(H5Pget)
export(H5Pequal)
## export(H5Piterate)
## export(H5Pcopy_prop)
## export(H5Premove)
## export(H5Punregister)

## export(H5loadConstants)

## export(getDatatypeClass)
## export(getDatatypeName)
## export(h5checkConstants)
export(h5const)
export(h5constType)
## export(h5const2Factor)
export(h5createDataset)
export(h5createFile)
export(h5createGroup)
export(h5createAttribute)
export(h5default)
export(h5dump)
## export(h5loadData)
export(h5ls)
## export(h5lsConvertToDataframe)
export(h5read)
export(h5readAttributes)
export(h5save)
export(h5write)
export(h5write.default)
export(h5writeDataset)
export(h5writeDataset.data.frame)
export(h5writeDataset.list)
export(h5writeDataset.matrix)
export(h5writeDataset.integer)
export(h5writeDataset.double)
export(h5writeDataset.logical)
export(h5writeDataset.character)
export(h5writeDataset.array)
export(h5writeAttribute)
## export(h5writeAttribute.data.frame)
## export(h5writeAttribute.list)
export(h5writeAttribute.matrix)
export(h5writeAttribute.integer)
export(h5writeAttribute.double)
export(h5writeAttribute.logical)
export(h5writeAttribute.character)
export(h5writeAttribute.array)
export(h5delete)

## export(listHandles)
export(h5listIdentifier)
export(h5validObjects)
export(h5version)
export(h5set_extent)

export(h5errorHandling)

export(h5closeAll)

export(h5testFileLocking)
export(h5disableFileLocking)
export(h5enableFileLocking)

## export S3 methods
S3method(h5write, default)
S3method(h5writeDataset, data.frame)
S3method(h5writeDataset, list)
S3method(h5writeDataset, array)
S3method(h5writeDataset, matrix)
S3method(h5writeDataset, integer)
S3method(h5writeDataset, double)
S3method(h5writeDataset, logical)
S3method(h5writeDataset, character)
S3method(h5writeAttribute, default)
S3method(h5writeAttribute, array)
S3method(h5writeAttribute, matrix)
S3method(h5writeAttribute, integer)
S3method(h5writeAttribute, double)
S3method(h5writeAttribute, logical)
S3method(h5writeAttribute, character)
