name: render pkgdown

on:
  push:
    branches: 
      - master
  workflow_dispatch:

jobs:
  render:
  
    strategy:
      matrix:
        config:
        - { os: ubuntu-20.04, bioc-version: 'devel'}
        
    runs-on: ${{ matrix.config.os }}

    name: pkgdown Deployment

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@master
    
    - name: Setup R and Bioconductor
      uses: grimbough/bioc-actions/setup-bioc@v1
      with:
        bioc-version: ${{ matrix.config.bioc-version }}
        
    - uses: r-lib/actions/setup-pandoc@v2
    
    - name: Install dependencies
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: |
          pkgdown

    - name: Install package
      run: R CMD INSTALL .

    - name: Deploy package
      run: pkgdown::deploy_to_branch(new_process = FALSE)
      shell: Rscript {0}
